= render 'shared/header', header: 'Listing competition categories'
%table.table.table-striped
  %thead
    %tr
      %th Name
  %tbody
    - @competition_categories.each do |competition_category|
      %tr
        %td= competition_category.name
        %td= link_to 'Show', competition_category
        %td= link_to 'Edit', edit_competition_category_path(competition_category)

= link_to 'New competition category', new_competition_category_path