<%= form_for(@athlete) do |f| %>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :height %>
    <%= f.text_area :height %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :affiliation %>
    <%= f.text_field :affiliation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>