= form_for(@athlete) do |f|
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :gender
    = f.select :gender, ['Female', 'Male']
  .field
    = f.label :competition
    = collection_select(:athlete, :competition_id, Competition.all, :id, :name)
  .field
    = f.label :competition_category_id
    = collection_select(:athlete, :competition_category_id, CompetitionCategory.all, :id, :name)
  .actions
    = f.submit