<%= form_for(@event) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :rank_by_small %>
    <%= f.text_field :rank_by_small %>
  </div>
  <div class="field">
    <%= f.label :event_weight %>
    <%= f.text_field :event_weight %>
  </div>
  <div class="field">
    <%= f.label :competition_id %>
    <%= f.text_field :competition_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>