<%= render 'shared/header', header: 'Listing events' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Rank by small</th>
      <th>Event Weight</th>
      <th>Competition_id</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.rank_by_small %></td>
        <td><%= event.event_weight %></td>
        <td><%= event.competition_id %></td>
        <td><%= link_to 'Show', event  %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New event', new_event_path %>