= render 'shared/header', header: 'Listing events'
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Rank by small
      %th Event Weight
      %th Competition_id

  %tbody
    - @events.each do |event|
      %tr
        %td= event.id
        %td= event.name
        %td= event.description
        %td= event.rank_by_small
        %td= event.event_weight
        %td= event.competition_id
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy',  { action: :destroy, id: event.id }, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New event', new_event_path